In [1]:
# Using Ridge regression and Decision tree as base and test with 10-fold cross validation
# Test with MAE
# build model for each Store and Dept

In [2]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Ridge
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.model_selection import KFold
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
train = pd.read_csv('./train.csv')
feature = pd.read_csv('./features.csv')
test = pd.read_csv('./test.csv')
train['Date'] = pd.to_datetime(train['Date'])
train['Week'] = train['Date'].dt.week
test['Date'] = pd.to_datetime(test['Date'])
test['Week'] = test['Date'].dt.week
feature['Date'] = pd.to_datetime(feature['Date'])
train['IsHoliday'] = (train[['IsHoliday']]== True).astype(int)
test['IsHoliday'] = (test[['IsHoliday']]== True).astype(int)
train_with_feature = pd.merge_asof(train, feature, on='Store',by='Date')
test_with_feature = pd.merge_asof(test, feature, on='Store',by='Date')

In [4]:
test_with_feature

,Store,Dept,Date,IsHoliday_x,Week,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2012-11-02,0,44,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,False
1,1,1,2012-11-09,0,45,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,False
2,1,1,2012-11-16,0,46,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,False
3,1,1,2012-11-23,1,47,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True
4,1,1,2012-11-30,0,48,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573,False
5,1,1,2012-12-07,0,49,64.12,3.198,6343.16,NaN,270.00,2928.90,10147.90,223.660021,6.573,False
6,1,1,2012-12-14,0,50,48.89,3.168,3504.83,NaN,73.26,1636.80,2779.60,223.719277,6.573,False
7,1,1,2012-12-21,0,51,56.02,3.098,8231.71,NaN,274.00,358.15,2834.02,223.839845,6.573,False
8,1,1,2012-12-28,1,52,44.79,3.108,12659.55,37101.13,174.78,74.46,1208.86,223.960414,6.573,True
9,1,1,2013-01-04,0,1,41.73,3.161,1214.08,25366.33,15.01,72.36,3940.02,224.080983,6.525,False
10,1,1,2013-01-11,0,2,50.32,3.243,6520.24,16134.60,12.17,774.55,4001.25,224.201552,6.525,False
11,1,1,2013-01-18,0,3,42.92,3.237,3772.69,3559.46,3.88,246.62,1900.40,224.235813,6.525,False
12,1,1,2013-01-25,0,4,53.37,3.227,965.89,1097.91,0.10,225.36,1831.88,224.235552,6.525,False
13,1,1,2013-02-01,0,5,56.46,3.244,9290.91,1359.90,265.00,20657.82,972.61,224.235290,6.525,False
14,1,1,2013-02-08,1,6,56.67,3.417,32355.16,729.80,280.89,20426.61,4671.78,224.235029,6.525,True
15,1,1,2013-02-15,0,7,49.66,3.475,72937.29,6665.52,47.21,13014.67,6310.18,224.276053,6.525,False
16,1,1,2013-02-22,0,8,50.25,3.597,20107.75,3163.89,42.20,15657.30,5812.86,224.420289,6.525,False
17,1,1,2013-03-01,0,9,48.01,3.711,10610.74,261.46,2.80,25.54,2747.59,224.564526,6.525,False
18,1,1,2013-03-08,0,10,50.81,3.658,5000.58,290.46,78.77,606.15,3697.11,224.708763,6.525,False
19,1,1,2013-03-15,0,11,55.33,3.622,3808.13,NaN,15.65,2616.60,1909.17,224.835681,6.525,False
20,1,1,2013-03-22,0,12,63.42,3.611,12553.98,NaN,495.10,6787.75,2545.66,224.919300,6.525,False
21,1,1,2013-03-29,0,13,51.00,3.606,13067.46,NaN,384.90,122.93,3903.80,225.002920,6.525,False
22,1,1,2013-04-05,0,14,58.59,3.583,12872.34,5687.86,485.97,478.04,5092.33,225.086540,6.314,False
23,1,1,2013-04-12,0,15,62.72,3.529,3672.43,932.58,52.86,949.07,2836.64,225.170160,6.314,False
24,1,1,2013-04-19,0,16,67.10,3.451,3530.36,3.95,107.50,458.76,2062.05,225.170160,6.314,False
25,1,1,2013-04-26,0,17,59.23,3.417,2387.72,NaN,98.34,516.28,1421.63,225.170160,6.314,False
26,1,1,2013-05-03,0,18,66.66,3.386,2298.63,2.00,129.90,55.46,1301.04,NaN,NaN,False
27,1,1,2013-05-10,0,19,63.90,3.392,4624.61,83.88,42.38,1618.31,8144.90,NaN,NaN,False
28,1,1,2013-05-17,0,20,69.53,3.454,16170.50,92.00,8.32,4127.24,6206.97,NaN,NaN,False
29,1,1,2013-05-24,0,21,77.19,3.494,7959.89,178.00,1621.47,3152.57,2938.70,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115034,45,98,2013-01-04,0,1,32.87,3.592,1341.33,30325.14,8.93,35.85,3682.17,192.659622,8.625,False
115035,45,98,2013-01-11,0,2,38.78,3.611,3877.36,15559.85,3.81,152.18,2403.14,192.759980,8.625,False
115036,45,98,2013-01-18,0,3,41.45,3.605,14746.10,4071.06,4.02,483.58,1467.78,192.809507,8.625,False
115037,45,98,2013-01-25,0,4,26.49,3.583,3130.28,1362.10,0.20,332.68,1361.74,192.838701,8.625,False
115038,45,98,2013-02-01,0,5,34.92,3.615,14508.96,1092.53,827.90,26424.02,700.93,192.867895,8.625,False
115039,45,98,2013-02-08,1,6,28.99,3.753,53311.88,531.33,78.26,24823.94,3233.44,192.897089,8.625,True
115040,45,98,2013-02-15,0,7,35.87,3.814,9362.02,2017.68,0.36,5012.39,6411.71,192.943471,8.625,False
115041,45,98,2013-02-22,0,8,31.48,3.859,10781.51,2735.67,23.38,1516.76,3061.21,193.032822,8.625,False
115042,45,98,2013-03-01,0,9,39.72,3.890,6614.32,147.82,5.60,27.55,1668.95,193.122173,8.625,False
115043,45,98,2013-03-08,0,10,36.13,3.860,16382.54,88.67,34.62,3096.92,3486.91,193.211524,8.625,False
115044,45,98,2013-03-15,0,11,42.81,3.834,9867.03,NaN,11.08,912.87,1360.36,193.296277,8.625,False
115045,45,98,2013-03-22,0,12,36.55,3.800,11923.74,NaN,308.00,1764.47,1647.31,193.369533,8.625,False
115046,45,98,2013-03-29,0,13,40.68,3.784,5444.00,NaN,350.84,53.90,1722.11,193.442790,8.625,False
115047,45,98,2013-04-05,0,14,43.94,3.763,16427.83,5341.41,182.59,1523.83,1743.09,193.516047,8.335,False
115048,45,98,2013-04-12,0,15,57.39,3.724,8760.15,1713.11,21.08,1302.31,1380.74,193.589304,8.335,False
115049,45,98,2013-04-19,0,16,56.27,3.676,1399.81,39.89,44.38,60.83,1445.05,193.589304,8.335,False
115050,45,98,2013-04-26,0,17,50.64,3.615,1260.65,NaN,57.52,40.51,2476.18,193.589304,8.335,False
115051,45,98,2013-05-03,0,18,56.07,3.592,8345.40,6.00,92.96,3580.32,2242.24,NaN,NaN,False
115052,45,98,2013-05-10,0,19,58.86,3.583,4689.18,440.82,53.09,375.22,5738.20,NaN,NaN,False
115053,45,98,2013-05-17,0,20,60.59,3.614,4515.35,667.88,6.12,522.70,2541.62,NaN,NaN,False
115054,45,98,2013-05-24,0,21,67.11,3.627,3249.34,481.82,58.48,1183.23,1309.30,NaN,NaN,False
115055,45,98,2013-05-31,0,22,65.88,3.646,6474.49,411.38,77.06,9.38,4227.27,NaN,NaN,False
115056,45,98,2013-06-07,0,23,70.71,3.633,9977.82,744.29,80.00,4825.71,3597.34,NaN,NaN,False
115057,45,98,2013-06-14,0,24,70.01,3.632,2471.44,517.87,348.54,2612.33,3459.39,NaN,NaN,False
115058,45,98,2013-06-21,0,25,70.13,3.626,4989.34,385.31,178.56,2463.42,3117.94,NaN,NaN,False
115059,45,98,2013-06-28,0,26,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
115060,45,98,2013-07-05,0,27,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
115061,45,98,2013-07-12,0,28,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
115062,45,98,2013-07-19,0,29,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
115063,45,98,2013-07-26,0,30,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [5]:
train_with_feature.isna().any()

Store           False
Dept            False
Date            False
Weekly_Sales    False
IsHoliday_x     False
Week            False
Temperature     False
Fuel_Price      False
MarkDown1        True
MarkDown2        True
MarkDown3        True
MarkDown4        True
MarkDown5        True
CPI             False
Unemployment    False
IsHoliday_y     False
dtype: bool

In [6]:
# Markdown selection
mean_approach = train_with_feature.fillna(train_with_feature.mean())
remove_approach = train_with_feature.dropna()

In [7]:
def MAE_score(real,predict):
    N = len(predict)
    score = real - predict
    score = abs(score)
    return(sum(score)/N)

In [8]:
def Ridge_KfoldCross(K,dataset):
    total_score = 0
    for store in dataset.Store.unique():
        store_score = 0
        select_store = dataset.loc[dataset['Store'] == store]
        for dept in select_store.Dept.unique():
            dept_score = 0
            select_dept = select_store.loc[select_store['Dept'] == dept]
            select_dept = select_dept.drop(columns=['Store', 'Dept','Date','IsHoliday_y'])
            select_dept = select_dept.reset_index()
            train = select_dept.drop(columns=['Weekly_Sales'])
            test = select_dept['Weekly_Sales']
            kf = KFold(n_splits=K)
            if len(select_dept)>10: # handle some dept have record less than 10 ex. dept 77
                for train_index, test_index in kf.split(select_dept):
                    X_train, X_test = train.loc[train_index], train.loc[test_index]
                    Y_train, Y_test = test[train_index], test[test_index]
                    clf = Ridge(alpha=1.0)
                    clf.fit(X_train,Y_train)
                    test_y = clf.predict(X_test)
                    score = MAE_score(Y_test,test_y)
                    dept_score += score/K
                store_score += dept_score/len(select_store.Dept.unique())
        total_score += store_score/len(select_store.Store.unique())
    return(total_score)

In [9]:
def Tree_KfoldCross(K,dataset):
    total_score = 0
    for store in dataset.Store.unique():
        store_score = 0
        select_store = dataset.loc[dataset['Store'] == store]
        for dept in select_store.Dept.unique():
            dept_score = 0
            select_dept = select_store.loc[select_store['Dept'] == dept]
            select_dept = select_dept.drop(columns=['Store', 'Dept','Date','IsHoliday_y'])
            select_dept = select_dept.reset_index()
            train = select_dept.drop(columns=['Weekly_Sales'])
            test = select_dept['Weekly_Sales']
            kf = KFold(n_splits=K)
            if len(select_dept)>10: # handle some dept have record less than 10 ex. dept 77
                for train_index, test_index in kf.split(select_dept):
                    X_train, X_test = train.loc[train_index], train.loc[test_index]
                    Y_train, Y_test = test[train_index], test[test_index]
                    clf = DecisionTreeRegressor()
                    clf.fit(X_train,Y_train)
                    test_y = clf.predict(X_test)
                    score = MAE_score(Y_test,test_y)
                    dept_score += score/K
                store_score += dept_score/len(select_store.Dept.unique())
        total_score += store_score/len(select_store.Store.unique())
    return(total_score)

In [10]:
print(Ridge_KfoldCross(10,mean_approach)) # 125048.60083556036
print(Ridge_KfoldCross(10,remove_approach)) # 489180.6785732042
print(Tree_KfoldCross(10,mean_approach)) # 94008.56579762329
print(Tree_KfoldCross(10,remove_approach)) # 114060.74665986476

125048.60083556036
489180.6785732042
94330.99489049517
113543.27917536224

In [11]:
# 10-fold result has MEA vary high and I don't sure MEA compare to weight MEA
# so I decide to test 10-fold have same direction with test result or not

In [13]:
def Ridge_Realtest(name,train,test):
    name = './'+name+'_ridge.csv'
    f = open(name,'w')
    f.write('Id,Weekly_Sales\n')
    for store in test.Store.unique():
        select_store_test = test.loc[test['Store'] == store]
        select_store_train = train.loc[train['Store'] == store]
        for dept in select_store_test.Dept.unique():
            select_dept_test = select_store_test.loc[select_store_test['Dept'] == dept]
            dates = select_dept_test['Date'].apply(lambda x: x.strftime('%Y-%m-%d')).values
            select_dept_test = select_dept_test.drop(columns=['Store', 'Dept','Date','IsHoliday_y']).reset_index()
            select_dept_train = select_store_train.loc[select_store_train['Dept'] == dept]
            select_dept_train = select_dept_train.drop(columns=['Store', 'Dept','Date','IsHoliday_y']).reset_index()
            if len(select_dept_train.index) > 0: # handle no train data for test dept ex. store 5 dept 99
                X_train = select_dept_train.drop(columns=['Weekly_Sales'])
                Y_train = select_dept_train['Weekly_Sales']
                X_test = select_dept_test
                clf = Ridge(alpha=1.0)
                clf.fit(X_train,Y_train)
                test_y = clf.predict(X_test)
                for i in range(len(test_y)):
                    Id = str(store)+'_'+str(dept)+'_'+str(dates[i])
                    sales = test_y[i]
                    f.write('%s,%s\n'%(Id,sales))
            else:
                for i in range(len(select_dept_test)):
                    Id = str(store)+'_'+str(dept)+'_'+str(dates[i])
                    sales = 0
                    f.write('%s,%s\n'%(Id,sales))
    f.close()

In [14]:
def Tree_Realtest(name,train,test):
    name = './'+name+'_Tree.csv'
    f = open(name,'w')
    f.write('Id,Weekly_Sales\n')
    for store in test.Store.unique():
        select_store_test = test.loc[test['Store'] == store]
        select_store_train = train.loc[train['Store'] == store]
        for dept in select_store_test.Dept.unique():
            select_dept_test = select_store_test.loc[select_store_test['Dept'] == dept]
            dates = select_dept_test['Date'].apply(lambda x: x.strftime('%Y-%m-%d')).values
            select_dept_test = select_dept_test.drop(columns=['Store', 'Dept','Date','IsHoliday_y']).reset_index()
            select_dept_train = select_store_train.loc[select_store_train['Dept'] == dept]
            select_dept_train = select_dept_train.drop(columns=['Store', 'Dept','Date','IsHoliday_y']).reset_index()
            if len(select_dept_train.index) > 0: # handle no train data for test dept ex. store 5 dept 99
                X_train = select_dept_train.drop(columns=['Weekly_Sales'])
                Y_train = select_dept_train['Weekly_Sales']
                X_test = select_dept_test
                clf = DecisionTreeRegressor()
                clf.fit(X_train,Y_train)
                test_y = clf.predict(X_test)
                for i in range(len(test_y)):
                    Id = str(store)+'_'+str(dept)+'_'+str(dates[i])
                    sales = test_y[i]
                    f.write('%s,%s\n'%(Id,sales))
            else:
                for i in range(len(select_dept_test)):
                    Id = str(store)+'_'+str(dept)+'_'+str(dates[i])
                    sales = 0
                    f.write('%s,%s\n'%(Id,sales))
    f.close()

In [15]:
mean_approach = train_with_feature.fillna(train_with_feature.mean())
remove_approach = train_with_feature.dropna()
test = test_with_feature.fillna(test_with_feature.mean())
Ridge_Realtest('mean',mean_approach,test) #10232151.48932
Ridge_Realtest('remove',remove_approach,test) #26599520.91667
Tree_Realtest('mean',mean_approach,test) #4772.18232
Tree_Realtest('remove',remove_approach,test) #4869.18242

In [16]:
# Weighted MEA has same direction with normal MEA but Decision Tree result has much less Weight MEA compare to MEA
# Decision Tree may be handle many value than Ridge
# so I decide drop some feature then I check some feature to drop start at CPI and Unemployment

In [17]:
# Base Ridge 125048
# Base Tree 94008
drop_CPI_unemploy = mean_approach.drop(columns=['CPI', 'Unemployment'])
drop_CPI = mean_approach.drop(columns=['CPI'])
drop_unemploy = mean_approach.drop(columns=['Unemployment'])
print(Ridge_KfoldCross(10,drop_CPI_unemploy))
print(Tree_KfoldCross(10,drop_CPI_unemploy))
print(Ridge_KfoldCross(10,drop_CPI))
print(Tree_KfoldCross(10,drop_CPI))
print(Ridge_KfoldCross(10,drop_unemploy))
print(Tree_KfoldCross(10,drop_unemploy))

123060.92425443465
92695.14821916597
123342.74436538141
92908.25600205472
124426.84671453196
93456.4683554392

In [20]:
# Drop both CPI and Employment have best MEA

# So i decide to test with both fuel price and temp.

In [21]:
# Base Ridge 123060
# Base Tree 92659
drop_Temp_Fuel = drop_CPI_unemploy.drop(columns=['Temperature', 'Fuel_Price'])
drop_Temp = drop_CPI_unemploy.drop(columns=['Temperature'])
drop_Fuel = drop_CPI_unemploy.drop(columns=['Fuel_Price'])
print(Ridge_KfoldCross(10,drop_Temp_Fuel))
print(Tree_KfoldCross(10,drop_Temp_Fuel))
print(Ridge_KfoldCross(10,drop_Temp))
print(Tree_KfoldCross(10,drop_Temp))
print(Ridge_KfoldCross(10,drop_Fuel))
print(Tree_KfoldCross(10,drop_Fuel))

132788.21989472196
85944.1898711757
139170.80784491656
90704.70564170498
115290.44725082867
89294.62625224702